!!!5

%html
  %head
    %title
      Dashboard

    %link{ :rel => 'stylesheet', :href => 'stylesheets/lib/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => 'stylesheets/lib/bootstrap-responsive.min.css' }
    %link{ :rel => 'stylesheet', :href => 'stylesheets/sciime.css' }

  %body

    %div.navbar
      %div.navbar-inner
        %div.container
          %ul#widget-navigation.nav
    %div#widget-content.carousel.slide
      %div.carousel-inner

    %script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' }
    %script{ :src => 'javascripts/lib/bootstrap.min.js' }
    %script{ :src => 'javascripts/sciime.js' }
