!!!5

%html
  %head
    %title
      Dashboard

    %link{ :rel => 'stylesheet', :href => 'stylesheets/lib/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => 'stylesheets/lib/bootstrap-responsive.min.css' }

  %body
    .hero-unit
      %h1#widget-title
        Sciime

      %p#widget-subtitle


    %div#widget-content

    %script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' }
    %script{ :src => 'javascripts/lib/bootstrap.min.js' }
    %script{ :src => 'javascripts/sciime.js' }
