* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

html, body, .carousel, .carousel-inner {
  height:100%;
}

#widget-content {
  padding-top:39px;
}
.carousel-inner {
  overflow:hidden;
}

/* Navigation */
.navbar {
  margin-bottom:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:1000;
}

#widget-navigation i {
  cursor:pointer;
  margin-top:12px;
}

#widget-navigation .s-icon-pause {
  display:inline-block;
}

/* General widget styles */
.item {
  height:100%;
}

.item .hero-unit {
  height:12%;
  margin:0;
  padding:15px;
}

.item > div:last-child {
  height:100%;
  padding:0 15px;
}

.item > div:last-child.four {
  padding:0;
}

.item > div:last-child.four > div {
  border-radius:6px;
  box-shadow:0px 0px 7px #999;
  float:left;
  height:42%;
  margin-left:1%;
  margin-top:1%;
  overflow:hidden;
  padding:15px;
  width:48.5%;
}

/* Icons */

[class^="s-icon-"],
[class*=" s-icon-"] {
  background-image:url('../images/sciime-icons-white.png');
  background-repeat:no-repeat;
  display:inline-block;
  height:14px;
  width:14px;
}

.s-icon-play {
  background-position:0 0;
}

.s-icon-pause {
  background-position:-20px 0;
}
